:root{
    --backgroundOffset: -600px;
}
.mainHomeCont{
    padding-top: 60px;
    height: 30%;
    width: 100%;

    /*
    https://media.giphy.com/media/DWz4YFSdC8v0Iaf3gg/giphy-downsized-large.gif
    https://media3.giphy.com/media/SoMtN21UCQxFCsnCp9/giphy.gif?cid=ecf05e4782f1qf3hx46dprfjyis26zp8xecmwdbt1s7cm4op&rid=giphy.gif&ct=g
    https://media4.giphy.com/media/kOAoHZpPEQQsYphAUG/giphy.gif?cid=790b7611fd7dd9055519910e910bd5424a87a484d783ea34&rid=giphy.gif&ct=g

    https://media4.giphy.com/media/3oriNZuNzeTbtJvKs8/giphy.gif?cid=ecf05e470akjs0u1qh95zbyda1860938lvadx746mqke9aai&rid=giphy.gif&ct=g
     */
    background-image: url(https://media4.giphy.com/media/LbMERa15Q6clA1NLcz/giphy.gif?cid=ecf05e47n7wkisu5dmo2rswzwly6aqq9picl8msua0lpgzne&rid=giphy.gif&ct=g) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: var(--backgroundOffset);
    -filter: invert();

}

.centerHomeCont{
    border-radius: 5px;
    width: 100%;
    height: 100%;


    /*background-color: var(--ColTan);
    background: linear-gradient(16deg, rgba(25,25,30,1) 21%, rgba(148,104,81,1) 51%, rgba(25,25,30,1) 92%);
    background: rgb(25,25,30);
     */

    backdrop-filter: blur(10px);

    background-color: rgba(11, 11, 11, 0.50);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2) ;

}

.mainHomeCont h1{
    font-family: 'Castellar';
    font-weight : normal;
    font-style: normal;
    font-size: 120px;
    text-align: center;
    background-image: url(https://media4.giphy.com/media/LbMERa15Q6clA1NLcz/giphy.gif?cid=ecf05e47n7wkisu5dmo2rswzwly6aqq9picl8msua0lpgzne&rid=giphy.gif&ct=g) ;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y:  var(--backgroundOffset);

    max-width: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -background-color: white;

    width: 100%;
    height:100%;

    display: table-cell;
    vertical-align: middle;
    margin: 0;
    float: inherit;

    animation-name: titleFadeIn;
    animation-duration: 2s;

    filter: invert() hue-rotate(180deg);




}

.mainHomeCont .titleCont{
    width:100%;
    height:100%;
    display:table;


}

.mainHomeCont .top{
    width: 100%;
    height: 80%;

}

.mainHomeCont .bottomCont{
    background-color: var(--ColDark0);
    height: 20%;
    width: 100%;

    box-shadow:  -1px -1px 1px slategrey ;
    border-bottom: 1px solid slategrey;
    display:table;
}

.mainHomeCont h2{
    color: var(--ColBg1);
    margin: 0 ;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: 'Castellar';
    font-weight : normal;
    font-style: normal;


}

@keyframes titleFadeIn {
    0%   {
        font-size: 12px;
        filter: opacity(100);
    }
    10%  {
        backdrop-filter: opacity(100);
    }
    20%  {
        backdrop-filter: opacity(100);
    }
    30%  {
        backdrop-filter: opacity(100);;
    }
    40%  {
        backdrop-filter: opacity(100);
    }
    50%  {
        backdrop-filter: opacity(100);
    }
    10%  {
        backdrop-filter: opacity(100);
    }
    10%  {
        backdrop-filter: opacity(100);
    }
    10%  {
        backdrop-filter: opacity(100);
    }
    10%  {

        backdrop-filter: opacity(100);
    }
    100% {

        -webkit-text-fill-color: transparent;

    }
}