nav {
    background-color: var(--ColDark2);
    width: 100%;
    height: 60px;
    overflow: hidden;
    border-bottom: 1px solid var(--Col3);
    position: fixed;
    z-index: 10;
}

nav :first-child{
    float: left;
    width: 30%;
    background-color: rgb(255,255,255);
}

nav a {
    float: right;
    height: 60px;
    width: 15%;
    background-color: var(--Col2);
    text-align:center;
    padding-top: 20px;
    color: white;
}

.categories {
    background-color: transparent;
}

#cart{
    background-image: url(img);
}