nav {
    background-color: var(--ColDark2);
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
}


nav a {
    float: right;
    height: 60px;
    width: 15%;
    text-align:center;
    padding-top: 20px;
    color: white;
}

.categories {
    background-color: transparent;
}

.nav a:not(.categories,.logoNavCont){
    height: 160px;
}

#cart, #connexion{
    margin-top: -3%;
    width: 35px;
    height: 35px;
}

#logoText {
    width: 10px;
    height: 10px;
}



a div{
    width: 350px;


}

.logoNavCont{
    float: left;
    width: 30%;
    padding-top: 0px;
}

#logoText{
    width: 182px;
    height: 60px;
}