nav {
    box-shadow: slategray 1px 1px 1px;
    background-color: rgb(240,240,250);
    width: 100%;
    height: 60px;
}

nav a{
    float: right;
}

body{
    margin: 0;
}

h1{

    max-width: 50%;
    margin-right: 0;
    float: left;
}

:root{
    font:'Quicksand', sans-serif;
}